*{
    font-family: Arial, Helvetica, sans-serif;

}

.title{
    background-color: black;
    color: white;
    text-align: center;
}

#link{
    background-color: black;
    color: white;
    text-align: center;
}

#details{
    background-color: gray;
    text-align: center;

}

#about{
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;    
}

#Learn{
    background-color: blue;
    color: white;
    text-decoration: none;
}

#yellow{
    background-color: yellow;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 2px gray;
}